/* global css */

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #fff;
    /* width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden; */
}

.nav {
    color: black;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a.active {
    border-bottom: 3px solid black;
}

.nav-logo a.active {
    border-bottom: none;
}

.hero-banner {
    height: 450px;
    width: 700px;
}

.number-of-items {
    width: 50px;
    height: 24px;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    font-size: 19px;
}



@media (max-width: 820px) {
    .hero-banner {
        height: 350px;
        width: 500px;
    }
}












/* ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-track {
    background-color: gray;
} */
